body {
	font-family: arial,sans-serif;
}

img {
	display: block;
	width: 272px;
	margin: 0 auto;
}

form {
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: center;
}

.search-box {
	width: 403px;
	height: 38px;
	box-shadow: 1px 1px 2px #dbdbdb;
	border: 0;
}