body {
	font-family: arial,sans-serif;
}

img {
	display: block;
	width: 272px;
	margin: 0 auto;
}

form {
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: center;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	color: #212121;
	text-decoration: none;
}

a:hover {
	color: #181818;
	text-decoration: underline;
}

.search-box {
	width: 403px;
	height: 38px;
	box-shadow: 1px 1px 2px #dbdbdb;
	border: 0;
}

.icon-square {
    width: 20px;
    vertical-align: middle;
    background-image: url(../images/iconList.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .60;
    padding: 15px 5px;
}

.icon-square:hover {
	opacity: .84;
}